#content {
    margin-top: 10px;
}

.ledMatrix {
    float: left;
    margin-left: 30px;
}

.drawable-area {
    background: #333333;
}

.background-display {
    fill: black;
}

#buttons {
    float: left;
    margin-left: 30px;
    width: 200px;
}

.buttonTools {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.editingWindow {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 5px;
    stroke-opacity: 1;
    fill: transparent;
}

.window {
    stroke: white;
    stroke-width: 2px;
    stroke-opacity: 0.3;
    fill-opacity: 0;
}

.selectedWindow {
    fill: white;
    fill-opacity: 0.3;
    stroke-opacity: 0;
}

.textEdit {
    cursor: text;
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 1;
    fill-opacity: 0;
}

.cursor {
    stroke: #cc262d;
}

.gridLine {
    stroke: #333333;
}

.led {
    fill: orange;
}

.char {
    visibility: visible;
}

.char-hidden {
    visibility: hidden;
}

/* Blinking modes: */
.blink-fixed { }
.blink-sim_very_fast, .blink-sim_fast, .blink-sim_medium, .blink-sim_slow {
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.blink-sim_slow {
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
}
.blink-sim_medium {
    -webkit-animation-duration: 0.55s;
    -moz-animation-duration: 0.55s;
    animation-duration: 0.55s;
}
.blink-sim_fast {
    -webkit-animation-duration: 0.35s;
    -moz-animation-duration: 0.35s;
    animation-duration: 0.35s;
}
.blink-sim_very_fast {
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
.blink-sim_very_fast, .blink-sim_fast, .blink-sim_medium, .blink-sim_slow {
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    animation-name: blinker;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    24% { opacity: 1.0; }
    25% { opacity: 0.0; }
    75% { opacity: 0.0; }
    76% { opacity: 1.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    24% { opacity: 1.0; }
    25% { opacity: 0.0; }
    75% { opacity: 0.0; }
    76% { opacity: 1.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    24% { opacity: 1.0; }
    25% { opacity: 0.0; }
    75% { opacity: 0.0; }
    76% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

@-moz-keyframes blinker-on {
    0% { opacity: 1.0; }
    40% { opacity: 0.8; }
    50% { opacity: 0.0; }
    60% { opacity: 0.8; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker-on {
    0% { opacity: 1.0; }
    40% { opacity: 0.8; }
    50% { opacity: 0.0; }
    60% { opacity: 0.8; }
    100% { opacity: 1.0; }
}
@keyframes blinker-on {
    0% { opacity: 1.0; }
    40% { opacity: 0.8; }
    50% { opacity: 0.0; }
    60% { opacity: 0.8; }
    100% { opacity: 1.0; }
}

@-moz-keyframes blinker-off {
    0% { opacity: 1.0; }
    10% { opacity: 0.0; }
    90% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker-off {
    0% { opacity: 1.0; }
    10% { opacity: 0.0; }
    90% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker-off {
    0% { opacity: 1.0; }
    10% { opacity: 0.0; }
    90% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
