#content {
    margin-top: 10px;
}

.ledMatrix {
    position: relative;
    display: block;
    float: left;
}

.displayArea {
    margin: 0 200px;
    overflow: visible;
}

.background-display {
    fill: black;
}

#buttons {
    float: left;
    margin-left: 30px;
    width: 200px;
}

.buttonTools {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.editingWindow {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 5px;
    stroke-opacity: 1;
    fill: transparent;
}

.window {
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-opacity: 0.2;
    fill-opacity: 0;
}

.bar {
    stroke: #AAAAAA;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.menu-icon {
    cursor: pointer;
    color: white;
}

.menu-group {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    border: 1px solid #AAAAAA;
    padding: 5px;
    margin: 5px;
    background: #666666;
    text-align: center;
    opacity: 0.9;
    color: white;
}

.menu-button {
    cursor: pointer;
    padding: 5px 15px;
}

.menu-button:hover, .menu-icon:hover {
    color: #bada55;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.buttons-container .menu-button {
    padding: 5px 5px;
    display: inline-block;
}

.buttons-container-text {
    color: #AAAAAA;
    cursor: default;
}

.buttons-separator {
    padding: 10px;
}

.select-menu {
     color : #666666;
     border-radius: 3px;
     font-size: inherit;
     background-color: white;
     border: none;
     padding: 5px;
     width: 100%;
     -webkit-appearance: button;
     -moz-appearance: button;
}

.select-option {
    color : #666666;
    border-radius: 3px;
    font-size: inherit;
    background-color: white;
    border: none;
    padding: 5px;
    width: 100%;
    -webkit-appearance: button;
    -moz-appearance: button;
}

.menu-slider {
    display: inline-block;
}

span.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
}

.menu-button:not(:hover) {
    -webkit-animation-iteration-count: 0;
    -moz-animation-iteration-count: 0;
    animation-iteration-count: 0;
}

.clicked {
    color: #AAAAAA;
}

.menu {
    stroke: #AAAAAA;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.textEdit {
    cursor: text;
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 1;
    fill-opacity: 0;
}

.cursor {
    stroke: #bada55;
}

.gridLine {
    stroke: #333333;
}

.led {
    fill: orange;
}

.char {
    visibility: visible;
}

.char-hidden {
    visibility: hidden;
}

/* Blinking modes: */
.blink-fixed {
}

.blink-sim_very_fast, .blink-sim_fast, .blink-sim_medium, .blink-sim_slow {
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blink-sim_slow {
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.blink-sim_medium {
    -webkit-animation-duration: 0.55s;
    -moz-animation-duration: 0.55s;
    animation-duration: 0.55s;
}

.blink-sim_fast {
    -webkit-animation-duration: 0.35s;
    -moz-animation-duration: 0.35s;
    animation-duration: 0.35s;
}

.blink-sim_very_fast {
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.blink-sim_very_fast, .blink-sim_fast, .blink-sim_medium, .blink-sim_slow {
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    animation-name: blinker;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    24% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    76% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    24% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    76% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    24% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    76% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}